{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center"><i>Search for the Product.</i></h1>
    <h4 style="text-align: center"><b>Note:</b>If you are searching for product which contain numeric value in it add '-'
        between the text and numeric value.<br>For eg. Iphone7 can be written as Iphone-7</h4>
    <div class="form">
        <form action="/" method="POST">
            Enter product to be searched: <input type="text" name="content" id="content" ><br><br>
            Enter the expected review count you need: <input type="text" name="expected_review" id="expected_review"><br><br>
            <input type="submit" value="Search">
        </form>
    </div>
</div>
{% endblock %}