{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="css/style.css">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center"><i>Search for the Product.</i></h1>
    <h4 style="text-align: center"><b>Note:</b>If you are searching for product which contain numeric value in it add '-'
        between the text and numeric value.<br>For eg. Iphone7 can be written as Iphone-7</h4>
    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="text" name="expected_review" id="expected_review">
            <input type="submit" value="Search">
        </form>
    </div>
</div>
{% endblock %}